SUBSYSTEM=="scsi_generic", ATTRS{vendor}=="Drobo*", GROUP="drobo", MODE="0660"
SUBSYSTEM=="scsi_generic", ENV{ID_VENDOR_ID}=="19b9", GROUP="drobo", MODE="0660"
